.header {
    background-color: #222;
}
.header h1 > a {
    color: #f44336;
}

.header form {
    padding-top: 15px;
}

div.form-group  {
    padding-right: 0px;
}

div.col-md-2 {
    padding-left:0px;
}

.nav-item {
    padding-top: 18px;
}