.title {
    color: #f44336;
    font-weight: 700;
}

.poster-col {
    padding: 20px 80px;
}

.button-order {
    width: 150px;
    height: 35px;
    margin-top: 25px;
}
.cast-list {
    list-style-type: none;
}

.cast-list li, .directors-list li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
}